body { font-family: monospace; background: #eee; padding: 20px; }

.grid { display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 10px; }

.card { background: white; border: 1px solid #000; padding: 10px; font-size: 11px; }

img { width: 100%; height: 150px; object-fit: contain; background: #f9f9f9; }

input { width: 100%; padding: 10px; margin-bottom: 20px; border: 2px solid #000; font-family: monospace; }

.shop-tag { 
    background: #000; color: #fff; padding: 2px 5px; 
    font-size: 9px; text-transform: uppercase; 
    display: inline-block; margin-bottom: 5px;
}

brand { color: red; font-weight: bold; text-transform: uppercase; }

#out { 
    transition: opacity 0.3s ease; 
}
.loading-text {
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
    display: none;
}

.match-badge {
    background: #eaffea;
    color: #228b22;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
}

/* Ebay distinction !*/

.card[data-shop="ebay"] {
    border-top: 3px solid #005310; /* A "Live" green accent */
    transition: transform 0.2s;
}

.card[data-shop="ebay"]:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}